@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

.title {
  color: white;
  font-family: 'Graphik LCG', sans-serif;
  margin-bottom: 30px;
}

.link {
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: solid 3px #2f1ce4;
}

.more {
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: transparent;
  border: solid 3px;
  border-color: white;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  padding-left: 20px;
  background: url(../img/return.png) no-repeat left;
  background-size: contain;
}

.main_title {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color:#222020;
}

.subtitle {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.list {
  padding-left: 200px;
  font-size: 18px;
}

.paragraph {
  padding-left: 180px;
  margin-bottom: 20px;
}

.img {
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}
