@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

.section-heading {
    font-size: 40px;
    margin-left: 40px;
    margin-top: 60px;
}

.container {
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-logo-tlf {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 25px;
}

.header-tlf {
    /* margin-right: auto; */
    color: #666666;
}
.header-lk{
    padding-left: 28px;
    background: url(../img/keyboard_tab.svg) no-repeat left;
    color: #cc9933;
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 9px;
    height: 70px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.nav-item:not(:last-child) {
    margin-right: 45px;
}

.search {
    display: flex;
    margin-right: 42px;
    justify-content: center;
    /* position: relative; */
    /* align-self: flex-end; */
    /* max-width: 320px; */
}

.nav-search {
    border: none;
    margin-right: 125px;
}

.nav-search-icon {
    /* background-color: inherit; */
    background: url(../img/search.svg) no-repeat center;
    /* background-size: contain; */
    width: 22px;
    height: 22px;
    border: none;
}

.div-reservation {
    display: flex;
    /* width: 500px; */
    flex-direction: column;
}

.section-offer {
    flex-grow: 1;
    max-width: 580px;
    /* margin-left: 20px; */
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.section-reservation {
    flex-grow: 1;
    max-width: 520px;
    /* margin-right: 20px;
    padding-right: 20px; */
}

.aboutus-p {
    margin-left: 40px;
}

.services-list {
    display: flex;
}

.services-link {
    font-weight: bold;
    
}

.services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-item {
    max-width: 572px;
    padding-bottom: 40px;
    margin-bottom: 25px;
    /* justify-content: space-between; */
    /* margin-right: 25px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

.advantage-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantage-item {
    max-width: 275px;
    margin-bottom: 25px;
}

.placement-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.placement-item {
    width: 373px;
    margin-bottom: 25px;
}