@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Muller', sans-serif;
    background-color: #f1f1f1;
}

.section-heading {
    font-size: 40px;
    margin: 0 0 21px 40px;
    /* margin-left: 40px;
    margin-top: 68px;
    margin-bottom: 20px; */
}

.container {
    max-width: 1170px;
    /* margin-right: auto;
    margin-left: auto;
    margin-bottom: 68px; */
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-logo-tlf {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 25px;
}

.header-tlf {
    /* margin-right: auto; */
    color: #666666;
    /* border-bottom: 1px solid transparent; */
}

.header-tlf:hover {
    /* border-bottom: 1px solid #cc9933; */
    text-decoration: underline;
    color: #cc9933;
}

.header-lk{
    display: flex;
    align-items: center;
    padding-left: 28px;
    /* background: url(../img/keyboard_tab.svg) no-repeat left; */
    color: #cc9933;
    /* background-size: contain; */
}

.header-lk:hover{
    color: #999999;
}

.header-lk:hover .header-icon path{
    fill: #999999;
}

.nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 9px;
    height: 70px;
    padding: 0 20px;
    margin-bottom: 68px;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    max-width: 650px;
    /* margin-left: 20px; */
}

/* .nav-item:not(:last-child) {
    margin-right: 45px;
} */

.nav-item:hover {
    color: #cc9933;
}

.search {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 312px;
    /* margin-right: 42px; */
    /* justify-content: center; */
    /* position: relative; */
    /* align-self: flex-end; */
    /* max-width: 320px; */
}

.nav-search {
    border: none;
    max-width: 290px;
    /* margin-right: 125px; */
    outline: none;
}

.nav-search-icon {
    /* background-color: inherit; */
    background: url(../img/search.svg) no-repeat center;
    background-size: contain;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
}


.div-reservation {
    display: flex;
    /* width: 500px; */
    flex-direction: column;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.section-reservation {
    flex-grow: 1;
    max-width: 518px;
    /* margin-right: 20px;
    padding-right: 20px; */
}

.reservation-form {
    display: flex;
    flex-direction: column;
}

.reservation-input {
    background-color: #ffffff;
    border: none;
    margin-bottom: 24px;
    padding: 25px 21px 25px 21px;
    border-radius: 9px;
    color: #999999;
    outline:none;
}

.reservation-button {
    background-color: #cc9933;
    border: 1px solid #cc9933;
    border-radius: 9px;
    padding: 27px 29px;
    color: white;
    margin-right: 30px;
    cursor: pointer;
    outline:none;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.btn:hover {
    color: black;
    background-color: transparent;
}

.reservation-number {
    color: #cc9933;
}

.reservation-number:hover {
    text-decoration: underline;
    color: #cc9933;
}

.reservation-words {
    color:  #999999;
}

.section-offer {
    flex-grow: 1;
    max-width: 596px;
    /* margin-left: 20px; */
}

.offer-img {
    position: relative;
    /* display: inline-block; */
    /* width: 595px;
    height: 540px; */
    /* background: url(../img/n-1.png) no-repeat center; */
    /* background-size: contain; */
}

.offer-text {
    position: absolute;
    /* top: 250px; */
    bottom: 20px;
    left: 41px;
    /* right: 232px; */
    max-width: 324px;
    /* max-height: 237px; */
    /* padding: 250px 232px 35px 41px; */
}

.offer-name {
    color: #ffffff;
    font-size: 66px;
    margin: 0;
    /* margin-top: 264px; */
    /* padding-top: 264px;
    padding-bottom: 110px; */
}

.offer-price {
    color: #ffffff;
    opacity: .5;
    font-size: 35px;
    margin-right: 35px;
}

.offer-link {
    color: #cc9933;
    font-size: 16px;
    background: url(../img/arrow.png) no-repeat right;
    padding-right: 15px;
    background-size: contain;
    /* border-bottom: 1px solid transparent; */
}

.offer-link:hover {
    /* border-bottom: 1px solid #cc9933; */
    text-decoration: underline;
    color: #cc9933;
}


.aboutus-p {
    /* margin-left: 40px; */
    font-size: 16px;
    color: #666666;
    margin: 0px 245px 0px 40px;
    line-height: 32px;
    margin-bottom: 68px;
}


/* .services-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 68px;
} */

.services-link {
    font-weight: bold;
}

.services-item {
    max-width: 572px;
    height: 325px;
    background-color: #ffffff;
    border-radius: 9px;
    /* padding-bottom: 40px; */
    margin-bottom: 25px;
    /* justify-content: space-between; */
    /* margin-right: 25px; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
}

/* .services-item:not(:nth-child(2n)) {
    margin-right: 24px;
} */

.services-text {
    height: 160px;
    width: 572px;
    /* background-color: #ffffff; */
    /* border-radius: 9px; */
    padding-top: 33px;
    /* margin: 0; */
}

.services-link {
    display: inline-block;
    font-size: 22px;
    color: #cc9933;
    margin-left: 45px;
    background: url(../img/arrow.png) no-repeat right;
    padding-right: 21px;
    background-size: contain;
    transition: transform .5s;
}

.services-link:hover {
    transform: translateX(15px);
}

/* .services-link:hover {
    fill: #cc9933 !important;
} */

.services-p {
    color: #333333;
    line-height: 32px;
    font-size: 16px;
    margin-left: 45px;
    margin-right: 130px;
}

.services-img {
    border-radius: 9px 9px 0px 0px;
    /* background-size: contain; */
    /* width: 572px; */
    height: 165px;
    /* background: url(../img/1.png); */
}


/* .advantage-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* .advantage-item {
    max-width: 275px;
    margin-bottom: 25px;
} */

.advantage-item {
    max-width: 276px;
    height: 276px;
    background-color: #ffffff;
    border-radius: 9px;
    padding-top: 44px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 25px;
    /* margin-right: 22px; */
}

/* .advantage-item:nth-child(4n) {
    margin-right: 0px;
} */

.advantage-icon1{
    width: 65px;
    height: 59px;
    background:url(../img/bathtub.svg) no-repeat;
}

.advantage-icon2{
    width: 65px;
    height: 59px;
    background:url(../img/hanger.svg) no-repeat;
}

.advantage-icon3{
    width: 65px;
    height: 59px;
    background:url(../img/heating.svg) no-repeat;
}

.advantage-icon4{
    width: 65px;
    height: 59px;
    background:url(../img/hotel-key.svg) no-repeat;
}

.advantage-icon5{
    width: 65px;
    height: 59px;
    background:url(../img/parking.svg) no-repeat;
}

.advantage-icon6{
    width: 65px;
    height: 59px;
    background:url(../img/reception.svg) no-repeat;
}

.advantage-icon7{
    width: 65px;
    height: 59px;
    background:url(../img/security-box.svg) no-repeat;
}

.advantage-icon8{
    width: 65px;
    height: 59px;
    background:url(../img/swimming-pool.svg) no-repeat;
}

.advantage-p {
    color: #333333;
    line-height: 32px;
    font-size: 16px;
    /* padding-right: 45px;
    padding-left: 45px; */
}



.placement-link {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.placement-item {
    width: 373px;
    height: 441px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 9px;
}

.placement-img {
    width: 373px;
    height: 217px;
}

.placement-info {
    padding-top: 33px;
}

.placement-button-link {
    margin-top: 18px;
}

.placement-button {
    border: solid #cc9933;
    color: #cc9933;
    border-width: 1px;
    font-weight: bold;
    padding: 11px 20px;
    border-radius: 9px;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 44px;
    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.placement-button:hover {
    color: white;
    background-color: #cc9933;
}

.placement-price {
    font-size: 20px;
    margin-left: 44px;
    margin-right: 36px;
}

.placement-star {
    width: 14px;
    height: 13px;
}

.placement-hotelname {
    margin-left: 44px;
}

.placement-geo {
    margin-left: 44px;
    color: #999999;
}

.placement-more {
    /* background: url(../img/1.9.png) no-repeat; */
    /* background-size: cover; */
}

.placement-more-link {
    width: 373px;
    height: 441px;
    position: relative;
    /* margin: 365px 39px 52px 36px; */
    /* background: url(../img/arrowWhite.png) no-repeat right; */
    /* padding-right: 14px; */
}

.placement-more-img {
    /* position: relative; */
    /* object-fit: cover; */
    /* max-width: 100%; */
}

/* .more-div {
    width: 373px;
    height: 373px;
    position: relative;
} */ 

.placement-more-text {
    /* width: 373px;
    height: 441px; */
    position: absolute;
    left: 36px;
    top: 365px;
    font-size: 22px;
    color: #ffffff;
    background: url(../img/arrowWhite.png) no-repeat right;
    padding-right: 14px;
}

/* .placement-more-text::before {
    content: "link";
    color: transparent;
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 360px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:red;
} 

.placement-more-text::after {
    content: "link";
    color: transparent;
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 55px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:red;
} */



.container-contacts {
    display: flex;
    justify-content: space-between;
    height: 619px;
    background-color: #ffffff;
    border-radius: 9px;
}

.contacts-info {
    width: 384px;
    margin-top: 44px;
    margin-left: 44px;
    /* margin-bottom: 44px; */
}

.contacts-flex {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  /* text-align: center; */
  border-bottom: solid 1px #cccccc;
  padding-bottom: 16px;  
  align-items: center;
  /* justify-content: center; */
}

.contacts-flex:not(:first-child) {
  padding-top: 19px;
}

.info-title-addr {
  /* text-align: left; */
  margin-right: 80px;
  color: #666666;
  font-size: 22px;
}

.info-title-tlf {
  /* text-align: left; */
  margin-right: 37px;
  color: #666666;
  font-size: 22px;
}

.info-tlf {
  color: #cc9933;
  padding-right: 88px;
  font-size: 16px;
}

.info-title-mail {
  margin-right: 80px;
  color: #666666;
  font-size: 22px;
}

/* .info-mail {
  padding-top: 29px;
} */
.contacts-email {
  color: #cc9933;
}

.contacts-email-words {
  color: #999999;
}

.info-title-graf {
  margin-right: 68px;
  color: #666666;
  font-size: 22px;
}

.info-button {
    border: solid #cc9933;
    color: #cc9933;
    border-width: 1px;
    font-weight: bold;
    padding: 25px 28px;
    border-radius: 9px;
    background-color: #ffffff;
    cursor: pointer;
    margin-top: 46px;
    /* margin-bottom: 44px; */
}

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-form {
  width: 630px;
  margin-top: 45px;
  margin-right: 44px;
  /* margin-bottom: 44px; */
}

.form-heading {
  margin: 0;
  font-size: 40px;
}

.input {
    font-size: 16px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 9px;
    /* padding: 25px auto 25px 21px; */
    padding-top: 25px;
    padding-left: 21px;
    padding-bottom: 25px;
    /* padding-right: 100px; */
    margin-top: 25px;
    width: 304px;
    outline:none;
}

.input-name {
    margin-right: 18px;
}

.input-textarea {
    font-size: 16px;
    width: 630px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 9px;
    margin-top: 23px;
    padding-top: 25px;
    padding-left: 21px;
    resize: none;
    outline:none;
}

.form-text {
    font-size: 16px;
    color: #999999;
    margin-top: 20px;
    margin-bottom: 37px;
}

.form-politics {
    color: #cc9933;
}

.form-button {
    background-color: #cc9933;
    border: none;
    border-radius: 9px;
    padding: 28px 128px;
    color: white;
    /* margin-right: 30px; */
    cursor: pointer;
}


.footer-container {
    display: flex;
    position: relative;
    /* justify-content: space-between; */
    height: 338px;
    background-color: #333333;
    border-radius: 9px;
    margin-top: 22px;
    margin-bottom: 52px;
    /* text-align: left; */
}

.img-bg {
    position: absolute;
    right: 150px;
    bottom: 0;
    /* left: 734px; */
    /* background-image: url(../img/sun-footer-bg.png); */
    /* background-repeat: no-repeat; */
    /* background-position: bottom; */
    /* background-position-x: 734px; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 1062px;
    align-items: center;
    margin: 45px 53px;
}

.footer-left {
    width: 298px;
}

.left-text {
    font-size: 16px;
    color: #ffffff;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 40px;
}

.left-agreement{
    font-size: 16px;
    color: #cc9933;
}

.footer-center {
    max-width: 358px;
    align-self: flex-start;
}

.center-address {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 35px;
    line-height: 32px;
}

.footer-contacts {
    margin-bottom: 30px;
}

.footer-tlf-mail {
    font-size: 16px;
    color: #cc9933;
    line-height: 25px;
}

/* .footer-right {

} */

.footer-link-icon {
    display: inline-block;
    /* display: flex;
    flex-direction: column; */
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.owl {
    width: 25px;
    height: 25px;
    background-image: url(../img/tripadvisor.svg);
    margin-bottom: 18px;
}

.twitter {
    width: 25px;
    height: 25px;
    background-image: url(../img/twitter.svg);
    margin-bottom: 18px;
}

.facebook {
    width: 25px;
    height: 25px;
    background-image: url(../img/facebook.svg);
    margin-bottom: 18px;
}

.vk {
    width: 25px;
    height: 25px;
    background-image: url(../img/social-vk.svg);
    margin-bottom: 18px;
}

.google {
    width: 25px;
    height: 25px;
    background-image: url(../img/google-plus-social-logotype.svg);
    margin-bottom: 18px;
}

/* @media (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
} */