table {
  border: 1px solid #000;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #000;
  padding: 5px;
}

.someClass {
  display: inline;
  color: green;
  /* box-shadow: none; */
}

.someClass:hover {
  color: black;
  box-shadow: -3px 7px 13px 10px #000000;
  transition: box-shadow top 1s;
}
